<div class="quizz__container">
  <div class="quizz__logo">
    <img src="/assets/img/logo-buzzfeed.png" alt="Logo">
    <h3>{{ title }}</h3>
  </div>

  <div *ngIf=!finished class="quizz__questions">
    <h3>{{ questionsSelected.question }}</h3>
  </div>

  <div *ngIf=!finished class="quizz__options">
    <button class="btn-option"
      (click)="playerChoose(option.alias)"
      *ngFor="let option of questionsSelected.options; "
    >
      {{ option.name }}
    </button>
  </div>

  <div *ngIf=finished class="quizz__results">
    <h1>O seu resultado é: </h1>
    <p>{{ answersSelected }}</p>
  </div>
</div>
